/* Call fonts */

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/gotham/GothamRounded-Book.otf'),
         url('../fonts/gotham/GothamRoundedBook_21018.ttf');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/gotham/GothamRounded-Medium.otf'),
         url('../fonts/gotham/GothamRoundedMedium_21022.ttf');
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a:link,
a:visited {
    color: #4a4a4a;
    text-decoration: none;
}

body {
    background-color: #fafafa;
    font-family: 'Gotham Book';
    color: #4a4a4a;
    margin: 0 5%;
    max-width: 1500px;
}

header {
    height: 85px;
}

nav {
    width: 88%;
    margin: auto;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 1.25rem;
    margin-top: 35px;
    padding-left: 0;

}

nav ul li {
    padding: 10px 35px;
    list-style: none;
    font-family: 'Gotham Medium';
}

.name {
    margin-right: auto;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 10px 10px 10px 0;
}

.banner {
    width: 88%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin: auto;
}

.left,
.right {
    width: 45%;
}

.left {
    font-size: 1.3rem;
    line-height: 1.5;
    justify-self: center;
}

.portfolio-container {
    background-color: white;
    margin-top: 100px;
    padding: 50px;
    text-align: center;
    line-height: 1.5;

}

.portfolio-container h2 {
    margin-top: 0;
    margin-bottom: 40px;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
}


.card {
    width: 290px;
    margin-bottom: 40px;

}

.card img {
    width: 100%;
}

.contact {
    text-align: center;
    margin: 80px;
    text-align: center;
    line-height: 1.5;
}

.contact p {
    max-width: 520px;
    margin: 0 auto;
}

.bold {
    font-family: "Gotham Medium";
    margin-top: 50px;
}

.contact > p:nth-child(3) {
    margin-top: 40px;
    font-size: 1.25rem;
}
.contact > p:nth-child(4) {
    margin-top: 10px;
    font-size: 1.25rem;
}

footer {
    width: 80%;
    border-top: 1px solid #e7e7e7;
    margin: auto;
}

.contact {
    text-align: center;
    margin: 0;
    text-align: center;
    line-height: 1.5;
}
   

body > header:nth-child(1) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(4) {
    padding-right: 0px;
   }

/* Media Queries */
@media (min-width: 320px) and (max-width: 767px){

    nav {
        margin: 0;
        width: 100%;
    }

    .tab-nav {
        display: none;
    }

    nav ul {
        flex-direction: column;
        justify-content: space-evenly;
        margin-bottom: 20px;
        align-items: stretch;
        text-align: center;
        margin-top: 15px;
    }

    nav ul li {
        padding: 10px 20px;
        background-color: white;
        margin-top: 4px;
        font-size: 1.125rem;
    }

    body > header:nth-child(1) > nav:nth-child(1) > ul:nth-child(1) > li:nth-child(4) {
        padding-right: 20px;
       }

    .banner {
        margin-top: 140px;
        width: 100%;
        justify-content: center;
    }

    h2 {
        font-size: 1.4rem;
    }

    .name {
        margin-right: 0;
        background-color: #fafafa;
    }

    .profile {
        width: 100%;
        margin: 0 auto;
    }

    .left {
        width: 100%;
        margin-top: 35px;
        font-size: 1rem;
        text-align: center;
        max-width: 450px;
    }

    .portfolio-container {
        padding: 40px 15px;
        margin-top: 60px;
    }

    .card {
        width: 100%;
    }

    .contact > p:nth-child(3),
    .contact > p:nth-child(4) {
        font-size: 1rem;
    }

    #top > footer:nth-child(5) > nav:nth-child(1) {
        display: none;
    }
       

    footer{
        margin-top: 50px;
        margin-bottom: 20px;
        padding-top: 25px ;
        width: 100%;
    }

    .mobile-footer {
        display: flex;justify-content: space-between;
    }

    .footer-mobile {
        font-weight: 600;
        font-size: 0.875rem;
    }

}

@media (min-width: 768px) and (max-width: 1023px){

    body {
        margin: 15px 2%;
    }
    .mobile-footer {
        display: none;
    }

    footer {
        margin: 0;
        margin-top: 35px;
        width: 100%;
    }

    .tab {
        display: none;
    }

    .tab-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        width: 40%;
        text-align: center;
        margin-bottom: 50px;
    }

    .tab-nav span,
    .tab-nav ul {
        flex-basis: 100%;
    }

    .tab-nav ul {
        margin: 10px 0;
    }

    .name {
        margin: 0;
        margin-right: auto;
        padding-bottom: 0;
    }

    span.name {
        font-size: 1.3rem;
    }

    nav {
        width: 100%;
    }

    nav ul {
        width: 100%;
    }

    nav ul li {
        padding: 5px 10px;
        background-color: #fafafa;
        margin-top: 4px;
        font-size: 1rem;
        margin-top: 0;
    }

    .name {
        font-size: 1rem;
        margin-top: 0;
    }

    .contact > p:nth-child(3),
    .contact > p:nth-child(4) {
        font-size: 1rem;
    }

    .contact{
        margin-top: 50px;
    }

    .portfolio {
        justify-content: space-between;
    }

    .portfolio-container {
        padding: 40px 15px;
    }

    .card {
        flex-basis: 49%;
    }

    h2 {
        font-size: 1.3rem;
    }

    .banner {
        justify-content: space-between;
        margin: 0;
        width: 100%;
        padding: 0 15px;
        justify-content: center;
        margin-top: 30px;
    }

    .left,
    .right {
        width: 30%;
        flex-basis: 47%;
    }

    .left {
        flex-grow: 1;
        font-size: 1rem;
    }
    
}

@media (min-width: 1024px){
    .mobile-footer {
        display: none;
    }

    #top > footer:nth-child(5) > nav{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
       }

    footer {
        margin: 40px auto;
        width: 95%;
    }

    .card {
        flex-basis: 30%;

    }

    .tab-nav {
        display: none;
    }

       
}
   
