
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

/* Universal Styles */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --primary-text: #495780;
    --secondary-text: #8fa1b6;
    --bg-primary: #ebf2f6;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text);
    background-color: var(--bg-primary);
    max-width: 1500px;
    margin: 0 auto;
}

a:link {
    text-decoration: none;
    color: var(--primary-text);
}

a:hover {
    color: #0986d7;
    transition: ease 0.4s;
}

/* Header Styles */

header {
    padding: 0 5%;
}

nav {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    margin: 20px 0;
    text-align: center;
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    padding: 10px 15px;
    background-color: white;
    margin: 2px;
}

nav ul li a {
    color: var(--primary-text);
    font-size: 0.9rem;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.name {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: var(--bg-primary);
    text-align: center;
}

.main-header {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.header-right {
    width: 70%;
}

.header-left p {
    text-align: center;
    line-height: 1.6;
    margin-top: 30px;
    max-width: 450px;
    padding: 10px;
}

.header-right img{
    width: 100%;
}

/* portfolio section styles */

h2,
h3 {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    background-color: white;
    padding: 10% 5%;
}

.portfolio-items {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.card img {
    width: 100%;
}

.card p {
    padding: 0 13px;
    line-height: 1.5;
    color: var(--secondary-text);
}

/* Skills styles */

.skills {
    margin-top: 120px;
}

.skills h2{
    font-size: 1.5rem;
}
.skills-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: var(--primary-text);
}


/* contact section styles */

.contact {
    padding-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact p {
    padding: 0 20px;
    text-align: center;
    line-height: 1.5;
    margin-top: 0;
    max-width: 1030px;
}

.contact > p:nth-child(2) {
    margin-bottom: 30px;
}
   

strong {
    font-family: 'Roboto', sans-serif;
    padding-left: 3px;
}

/* footer styles */

footer{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 25px ;
    width: 100%;
}

.mobile-footer {
    display: flex;
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: space-between;
    border-top: 1px solid #e7e7e7;
}

.footer-mobile {
    font-weight: 600;
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

footer a {
    color: var(--primary-text);
}

footer a:hover {
    color: #0986d7;
    transition: ease 0.4s;
}

img {
    border-radius: 8px;
}

.header-right img {
    border-radius: 10px; 
}
.tab-nav {
    display: none;
}

.tab-foot {
    display: none;
}

h2,
h3 {
    font-size: 1.1rem;
}

a:hover {
    color: #0986d7;
    transition: ease 0.4s;
}


/* Media Queries */

@media screen and (min-width:768px) {

    /* Header styles */
    header {
        padding-bottom: 70px;
    }

    .mobile-nav {
        margin-top: 50px;
    }
       

    .main-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 30px;
    }

    .header-left,
    .header-right {
        width: 45%;
    }

    .header-left {
        flex-basis: 55%;
    }

    .header-left p {
        text-align: left;
        margin: 0;
        padding: 0 40px 0 0;
        font-size: 1.1rem;
    }

    nav {
        padding: 0 180px;
    }

    nav ul {
        flex-direction: row;
    }

    nav ul li {
        background-color: var(--bg-primary);
    }

    .tab-foot nav ul li a:hover {
        color: #0986d7;
        transition: ease 0.4s;
    }
    

    /* portfolio styles */
        
    .main-container {
        background-color: white;
        padding: 8% 3%;
    }

    .portfolio-items {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .card {
        width: 50%;
        text-align: center;
        margin-top: 30px;
        flex-basis: 49%;
    }

    .card img {
        width: 98%;
    }

    .card p {
        padding: 0 13px;
        line-height: 1.5;
    }

    /* Skills section */

    .skills {
        margin: 100px 50px;
    }

    .skills h2{
        padding-bottom: 50px;
    }

    .skills-container {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        color: var(--primary-text);
        margin: 0 auto;
    }

    figure {
        flex-basis: 37%;
        flex-grow: 1;
    }

    /* contact styles */

    .contact p {
        padding: 0 120px;
        font-size: 1.1rem;
    }


    /* footer styles */

    footer {
        border-top: 1px solid #e7e7e7;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
        padding-top: 0;
    }

    .mobile-footer {
        display: none;
    }

    footer nav ul {
        flex-direction: row;
    }

    footer nav ul li a,
    footer nav ul li{
        background-color: var(--bg-primary);
        font-size: 0.9rem;
    }

    footer nav ul li a:hover {
        color: #0986d7;
        transition: ease 0.4s;
    }

    .tab-name-footer {
        margin-right: auto;
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;
    }

    .tab-foot {
        display: initial;
    }

    footer nav ul {
        margin: 0;
    }  

    a:hover {
        color: #0986d7;
        transition: ease 0.4s;
    }
}

@media screen and (min-width:1024px) {
    nav {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }

    nav ul{
        margin: 0;
    }

    .name {
        margin-right: auto;
    }

    .header-left p{
        padding-right: 0;
        font-size: 1.2rem;
    }

    .main-header {
        padding-top: 0;
        margin-top: 40px;
    }

    .main-container {
        padding-top: 3%;
        margin: 0 3%;
    }

    .header-right img {
        border-radius: 10px;
    }

    .portfolio-items {
        justify-content: space-between;
    }

    .card {
        flex-basis: 33%;
    }

    .contact > p {
        font-size: 1.2rem;
        padding: 0 230px;
    }

    .tab-foot ul{
        padding-top: 40px;
    }

    .skills-container {
        text-align: center;
        color: var(--primary-text);
        margin: 0 auto;
    }

    figure {
        flex-basis: 20%;
    }

    .main-container {
        padding-bottom: 1%;
    }

    a:hover {
        color: #0986d7;
        transition: ease 0.4s;
    }
       

}